.layout {
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    height: 100vh;
    box-sizing: border-box;
    box-sizing: border-box;
    margin: 0 auto;
    max-width: 100%;
    min-height: 100vh;
    width: 100%;
    display: flex;
    position: relative;
  }

  .menu__container {
    position: fixed;
    border: 1px solid black;
    padding: 0.5rem;
    flex-direction:column;
    gap: 0.5rem;
    background: #333;
    color: white;
    height: 100vh;
    left: 0;
    top:100px;
  }

  .main__content {
    vertical-align: middle;
    display: inline-block;
    margin: 1rem;
  }