.layout {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1080px;
    margin: auto;
    height: 100vh;
    width: 100%;
    box-sizing: border-box;
  }
  
  @media (min-width: 768px) {
    .layout {
      justify-content: space-between;
    }
  }

  .menu__container {
    display: flex;
    flex-basis: content;
    padding: 1rem 0;
  }