.layout {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    max-width: 1080px;
    min-height: 100vh;
    margin: auto;
  }
  
  @media (min-width: 768px) {
    .layout {
      /* flex-direction: row; */
      justify-content: space-between;
    }
  }

  .menu__container {
    display: flex;
    width: 1080px;
  }